a.button {
  width: 216px;
  height: 74px;
  text-align: center;
  display: grid;
  place-items: center;
  color: #ddcaef;
  background-color: #47478b;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 0 20px;
  transition: background 0.2s ease;

  &:hover {
    background-color: #25256e;
  }

  &.rounded {
    border-radius: 15px;
  }
}
