.welcome {
  flex-shrink: 0;
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 60px;
  background-image: url('../../assets/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    text-align: center;
    font-weight: 800;
    color: #333366;
    text-shadow: 2px 0 0 #ede7f6, -2px 0 0 #ede7f6, 0 2px 0 #ede7f6,
      0 -2px 0 #ede7f6, 1px 1px #ede7f6, -1px -1px 0 #ede7f6, 1px -1px 0 #ede7f6,
      -1px 1px 0 #ede7f6;

    &:nth-child(1) {
      font-size: 72px;
      line-height: 98px;
    }

    &:nth-child(2) {
      font-size: 88px;
      line-height: 120px;
    }
  }

  h3 {
    color: #333366;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    margin-top: 47px;
  }
}
