body header {
  width: 100%;
  padding: 16px 44px;
  background-color: #333366;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__image {
    object-fit: contain;
  }

  .socialList {
    display: flex;
    gap: 24px;

    a {
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
