.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2.5rem; // 40px
  padding-bottom: 2.5rem; // 40px

  h3 {
    font-size: 3rem; // 48px
    color: white;
    line-height: 1.25;
  }

  &__accounts {
    display: flex;
    align-items: center;
    gap: 1.75rem; // 28px
    flex-wrap: wrap;
    justify-content: space-between;
  
    button {
      width: max-content;
      height: max-content;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
