@font-face {
  font-family: 'superstar';
  src: local('superstar'), url('./fonts/superstar.ttf') format('truetype');
}

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'MONOSPACE', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  color: #bba14f !important;
  font-size: 2.5em;
}

html,
body {
  overflow-y: auto;
  height: 100%;
}

body {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'superstar', 'monospace';
  text-transform: uppercase;
  color: #fff;
}

footer .a:hover {
  fill: '#DA4567';
}

.MuiToolbar-regular {
  color: #e0e3bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wallet-button {
  color: #fff;
  font-family: 'monospace', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  color: #bba14f !important;
}

.navLink {
  color: #fff !important;
}

.navLink:hover {
  color: #bba14f !important;
}

.shinyButton {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #bba14f !important;
  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.shinyButtonDisabled {
  border-radius: 15px;
  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButton:hover {
  background-color: #1d2951 !important;
  color: #fff !important;
}

.shinyButtonSecondary {
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  background-color: #bba14f !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.MuiAlert-filledWarning {
  background-color: #bba14f !important;
}

.account {
  display: flex;
  align-items: center;
}

.account > img,
.account > div {
  margin-right: 8px;
}

.shinyButtonDisabledSecondary {
  border-radius: 15px;

  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButtonSecondary:hover {
  background-color: #1d2951 !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.MuiAppBar-positionSticky {
  position: relative !important;
}
.ijwpow {
  background-color: rgba(255, 255, 255, 0) !important;
}
.makeStyles-appBar-2 {
  background-color: rgba(255, 255, 255, 0) !important;
}
.walletconnecttitle {
  color: #322f32;
}
.walletconnecttitle:hover {
  color: #bba14f;
}
.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}
.MuiButton-containedPrimary {
  background: #bba14f !important;
}

.MuiButton-containedPrimary:hover {
  background: #1d2951 !important;
}

.wallet-button {
  color: #fff;
  font-family: 'monospace', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  color: #bba14f !important;
}
.walletconnecttitle {
  color: #322f32;
}
.walletconnecttitle:hover {
  color: #bba14f;
}
